* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: transparent; /* transparency for blur */
    color: #ffffff;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: #ffffff;
}

#workspaces button.active {
    color: #88ccff; /* generic blue fallback */
}

.modules-right {
    background-color: #111111;
    border-radius: 10px;
    padding: 0 10px;
}

#clock {
    background-color: #111111;
    border-radius: 10px;
    padding: 0 10px;
}
